@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Montserrat:wght@400;600;700&family=Nanum+Gothic&family=Noto+Serif+Display&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
#title {
  width: 52%;
  margin: 60px auto;
  text-align: center;
  padding-top: 150px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  line-height: 1.7rem;
  color: rgb(61, 61, 61);
}
.reg {
  font-family: "Bodoni Moda", serif;
  font-size: 30px;
  font-weight: lighter;
  color: #222;
  margin-bottom: 0px;
}

#prods {
  display: grid;
  margin: auto;
  width: 82%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
}

#prods > div > img {
  height: 340px;
  width: 340px;
}

#prods > div > div {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  font-size: 14px;
}

h2 {
  color: #31c2e8;
  font-size: 12px;
  margin-left: 10px;
  font-weight: 700;
  line-height: 0px;
}

h3 {
  font-weight: 600;
  font-size: 17px;
  color: #383838;
}

button {
  width: 85%;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 15px;
  background-color: white;
  border: 1px solid #383838;
  color: #383838;
}

#prods > div > div > p:nth-child(2) {
  color: gray;
}

#nav {
  width: 170px;
  display: flex;
  margin-top: 50px;
  gap: 20px;
  position: absolute;
  right: 130px;
  align-items: center;
}

#nav > p {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}
#nav > button {
  height: 45px;
}

@media all and (min-width: 800px) and (max-width: 1000px) {
  #title {
    width: 60%;
    margin: 60px auto;
    text-align: center;
  }

  #prods {
    width: 800px;
  }

  img {
    height: 150px;
    width: 150px;
  }

  p {
    line-height: 1.3rem;
    font-size: 15px;
  }
  #prods > div > div {
    width: 60%;
  }
  #prods > div > div > p {
    font-size: 11px;
  }

  h3 {
    font-size: 15px;
  }

  button {
    height: 45px;
    font-size: 12px;
  }
  #nav {
    right: 40px;
  }
}

@media all and (min-width: 645px) and (max-width: 799px) {
  #title {
    width: 90%;
  }

  #prods {
    width: 100%;
  }

  img {
    height: 200px;
    width: 100%;
  }
  button {
    font-size: 12px;
  }
  #prods > div > div {
    width: 60%;
  }
  #prods > div > div > p {
    font-size: 10px;
  }
  #nav {
    right: 20px;
  }
}

@media all and (min-width: 50px) and (max-width: 644px) {
  #title {
    width: 100%;
  }
  #prods {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    height: 150px;
    width: 150px;
  }
  #prods > div > div {
    width: 55%;
  }

  button {
    width: 95%;
  }

  #nav {
    position: absolute;
    left: 0;
    right: 0;
    margin: 50px auto;
  }
}
